<%= form_for(@article) do | f | %>
	<% @article.errors.full_messages.each do | message| %>
		<div class="be-red white top-space">
			* <%= message %>
		</div>
	<%end %>
	<div class="field">
		<!-- input text -->
		<%= f.text_field :tittle, placeholder: "Titulo" , class:"form-control"%> 
		<!-- Error title -> tittle :)-->
	</div>
	<br>
	<div class="field">
		<!-- Text area -->
		<%= f.text_area :body, placeholder: "Escribe aqui tu articulo",
						style:"height:250px;", class:"form-control"%>
	</div>
	<div class="field">
		<!-- button -->
		<%= f.submit "Guardar", class:"btn be-red white" %>
	</div>
<% end %>